header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #4CAF50;
}