#main {
    position: relative;
    left: 0;
    transition: left 0.3s ease;
    }
    
    #sidebar {
    position: fixed;
    top: 78px;
    right: -250px;
    width: 250px;
    transition: right 0.3s ease;
    }
    
    .open {
    left: -250px;
    }