{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/analysis.css' %}">
<div id="main">
    <div id="main-box">
        <form action="{% url 'analysis' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
                <h2 class="mid-header">YouTube URLかファイル (mp3, wav) を選択</h2>
                <div class="range-box">
                <label for="url-or-file">YouTube URL</label>
                <input type="range" name="url-or-file" id="url-or-file" min="0" max="1" step="1">
                <label for="url-or-file">ファイル  (mp3, wav)</label>
            </div>

            <div id="file-box">
                <p class="mid-header">ファイルを選択 (上で選択したフィールドに代わります)</p>
                <input type="file" name="audio-file" id="audio-file" required>
            </div>

            <div id="url-box" hidden>
                <h2 class="mid-header">YouTube URLを入力 (上で選択したフィールドに代わります)</h2>
                <div id="input-url-box">
                <input type="text" name="url" id="url" placeholder="URLを入力">
                <div class="background-input-box"></div>
            </div>
            </div>

           
            <h2 class="mid-header">ボーカルあり・なしを選択</h2>
                <div class="range-box">
                <label for="vocal">ボーカルなし</label>
                <input type="range" name="vocal" id="vocal" min="0" max="1" step="1">
                <label for="vocal">ボーカルあり</label>
            </div>

            
                <h2 class="mid-header">楽器別 (バス、ドラム、その他) に分けるか選択</h2>
                <div class="range-box">
                <label for="separate">分けない</label>
                <input type="range" name="inst-separate" id="inst-separate" min="0" max="1" step="1">
                <label for="inst-separate">分ける</label>
                </div>

            <div id="execution-box">
                <button type="submit">解析する</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const urlBoxElement = document.getElementById("url-box");
    const fileBoxElement = document.getElementById("file-box");
    const urlOrFileRangeElement = document.getElementById("url-or-file");
    const urlElement = document.getElementById("url");
    const soundfileElement = document.getElementById("soundfile");

    urlOrFileRangeElement.addEventListener("input", (e) => {
        if (e.target.value === "0") {
            urlBoxElement.hidden = false;
            fileBoxElement.hidden = true;

            soundfileElement.required = false;
            urlElement.required = true;
        } else {
            urlBoxElement.hidden = true;
            fileBoxElement.hidden = false;

            urlElement.required = false;
            soundfileElement.required = true;
        }
    })
    console.log("{{ vocal_range }}");
</script>
{% endblock %}