{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/analysis.css' %}">
<div id="main">
    <div class="main-box" id="main-box-norm">
        <form action="{% url 'analysis' %}" method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            
                <h2 class="mid-header">YouTube URLかファイル (mp3, wav) を選択</h2>
                <div class="range-box">
                <label for="url-or-file">YouTube URL</label>
                <input type="range" name="url-or-file" id="url-or-file" min="0" max="1" step="1">
                <label for="url-or-file">ファイル  (mp3, wav)</label>
            </div>

            <div id="file-box">
                <h2 class="mid-header">ファイルを選択 (上で選択したフィールドに代わります)</h2>
                <input type="file" name="audio-file" id="audio-file" required>
            </div>

            <div id="url-box" hidden>
                <h2 class="mid-header">YouTube URLを入力 (上で選択したフィールドに代わります)</h2>
                <div id="input-url-box">
                <input type="text" name="url" id="url" placeholder="URLを入力" disabled>
                <div class="background-input-box"></div>
            </div>
            </div>

           
            <h2 class="mid-header">ボーカルあり・なしを選択</h2>
                <div class="range-box">
                <label for="vocal">ボーカルなし</label>
                <input type="range" name="vocal" id="vocal" min="0" max="1" step="1">
                <label for="vocal">ボーカルあり</label>
            </div>
            
                <h2 class="mid-header">楽器別 (バス、ドラム、その他) に分けるか選択</h2>
                <div class="range-box">
                <label for="separate">分けない</label>
                <input type="range" name="inst-separate" id="inst-separate" min="0" max="1" step="1">
                <label for="inst-separate">分ける</label>
                </div>
                <input type="text" name="user-name" value="{{ user.username }}" hidden>

            <div id="execution-box">
                <button type="submit">解析</button>
            </div>
        </form>
    </div>
    <div class="main-box" id="main-box-load" hidden>
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
          </div>
        <p>Now Loading ...</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const urlBoxElement = document.getElementById("url-box");
    const fileBoxElement = document.getElementById("file-box");
    const urlOrFileRangeElement = document.getElementById("url-or-file");
    const urlElement = document.getElementById("url");
    const audiofileElement = document.getElementById("audio-file");

    urlOrFileRangeElement.addEventListener("input", (e) => {
        if (e.target.value === "0") {
            urlBoxElement.hidden = false;
            fileBoxElement.hidden = true;

            audiofileElement.required = false;
            urlElement.required = true;

            audiofileElement.disabled = true;
            urlElement.disabled = false;
        } else {
            urlBoxElement.hidden = true;
            fileBoxElement.hidden = false;

            urlElement.required = false;
            audiofileElement.required = true;

            audiofileElement.disabled = false;
            urlElement.disabled = true;
        }
    })
    
    const mainBoxElement = document.getElementById("main-box-norm");
    const loadElement = document.getElementById("main-box-load");
    const formElement = document.getElementById("form");
    formElement.addEventListener("submit", () => {
        mainBoxElement.hidden = true;
        loadElement.hidden = false;
    })
</script>
{% endblock %}