{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>music analyzer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/analysis.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li class="border"><a href="{% url 'home' %}">home</a></li>
            <li class="border"><a href="{% url 'private' %}">user</a></li>
            <li class="border"><a href="{% url 'analysis' %}">analysis</a></li>
        </ul>
    </nav>

    <div id="main">
        <div id="main-box">
            <form action="{% url 'analysis' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="range-box">
                    <p>youtube URLかファイル(mp3, wav)を選択</p>
                    <label for="url-or-file">URL</label>
                    <input type="range" name="url-or-file" id="url-or-file" min="0" max="1" step="1">
                    <label for="url-or-file">ファイル</label>
                </div>

                <div id="file-box">
                    <label for="id">ファイルを選択</label>
                    <input type="file" name="soundfile" id="soundfile" required>
                </div>

                <div id="url-box">
                </div>

                <div class="range-box">
                    <p>ボーカルあり・なしを選択</p>
                    <label for="vocal">ボーカルあり</label>
                    <input type="range" name="vocal" id="vocal" min="0" max="1" step="1">
                    <label for="vocal">ボーカルなし</label>
                </div>

                <div class="range-box">
                    <p>楽器別(バス、ドラム、その他)に分けるか選択</p>
                    <label for="separate">分けない</label>
                    <input type="range" name="separate" id="separate" min="0" max="1" step="1">
                    <label for="separate">分ける</label>
                </div>

                <div id="execution-box">
                    <button type="submit">解析する</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const urlBoxElement = document.getElementById("url-box");
        const fileBoxElement = document.getElementById("file-box");
        const urlOrFileRangeElement = document.getElementById("url-or-file");

        urlOrFileRangeElement.addEventListener("input", (e) => {
            if (e.target.value === "0") {
                urlBoxElement.innerHTML =
                `<label for="id">ファイルを選択</label>
                <input type="file" name="file" id="file" required>`;
                fileBoxElement.innerHTML = "";
            } else {
                urlBoxElement.innerHTML = "";
                fileBoxElement.innerHTML =
                `<label for="input-url" id="label">YouTube URL</label>
                <input type="text" name="input-url" id="input-url" placeholder="URLを入力" required>
                <div class="background-input-box"></div>`;
            }
        })
    </script>
</body>
</html>